.div-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    text-align: center;
    color: aliceblue;
    font-size:xx-large;
    padding: 2%;
}